.navbar.navbar-inverse
  .navbar-inner
    .pull-left
      .navbar-brand
        =link_to "Soapbox", root_path
    .pull-right
      %ul.nav
        %li
          %a{:href => "."} Home
        %li
          %a{:href => "contact.html"} Contact Us
       
        
